/*Categoria 1: Ínicio e Cabeçalho*/

html{
    scroll-behavior: smooth;
}

.Corpo-Cursos{
    background-image: url(../img/Background.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}

header{
    border: 10px;
    border-color: rgb(62, 178, 231);
    background-color: black;
    border-style: ridge;
    text-align: center;
    border-radius: 70px;
    width: 100%;
    height: 200px;
}

#Logo {
    width: 800px;
    border: none;
    border-width: 0px;
    position:relative;
    bottom: 140px;
}

#Nome{
    position: relative;
    bottom: 330px;
    font-family:High;
    color: white;
}

/* Fim da categoria 1*/

/*Categoria 2: Layout Primário*/

button:hover{
    transform: scale(1.1);
}

button{
    position: relative;
    bottom: 10px;
    border-width: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#Botão-Início{
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family:Paratha;
    font-size: 15px;
    background-image: linear-gradient(yellow, black);
    border-color: white;
}

#Img-Início{
    color: white;
    width: 60px;
    height: 60px;
    position: relative;
    right: 0px;
}

#Botão-Usuário{
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family:Paratha;
    font-size: 15px;
    background-image: linear-gradient(cyan, black);
    left: 1700px;
    bottom: 20px;
    border-color: white;
}

#Img-Usuário{
    color: white;
    width: 100px;
    height: 50px;
    position: relative;
    right: 10px;
}

h2{
    color: white;
    position: relative;
    text-decoration: underline white;
    text-align: center;
}

/* Fim da categoria 2*/

/*Categoria 3: Botão Principal*/

#Pro{
    width: 200px;
    height: 200px;
    color: white;
    position: relative;
    border-radius: 50px;
    border-style:ridge;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Programação.jpg);
    border-color: white;
    position: relative;
    left: 45%;
    top: 180px;
}

#Pro::after{
    content: attr(data-hover-text);
    color: blue;
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: 5px;
    border-radius: 50px;
    display: block;
    opacity: 0; 
    transition: all 0.5s;
}

#Pro:hover::after{
    top: 200px;
    left: 0px;
    opacity: 1; 
}

#Img-Pro{
    position: relative;
    top: 20px;
}

#T-Pro{
    position: relative;
    top: 20px;
    font-size: 15px;
}

/*Fim da categoria 3*/

/*Categoria 4: Botões Secundários*/

#Pyt, #Bp{
    display: none;
}

#Pyt{
    background-image: linear-gradient(blue, yellow, blue);
    border-color: cyan;
    font-size: 20px;
    font-family: Paratha;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 60%;
}

#Bp{
    background-color: greenyellow;
    border-color: black;
    font-size: 13px;
    font-family: Paratha;
    border-radius: 30px;
    position: relative;
    left: 67%;
    bottom: 50px;
}

#Cmm, #Bc{
    display: none;
}

#Cmm{
    background-image: linear-gradient(blue, white, blue);
    border-color: cyan;
    font-size: 20px;
    font-family: Paratha;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 60%;
    top: 110px;
}

#Bc{
    background-color: greenyellow;
    border-color: black;
    font-size: 13px;
    font-family: Paratha;
    border-radius: 30px;
    position: relative;
    left: 67%;
    top: 70px;
}

#Rub, #Br{
    display: none;
}

#Rub{
    background-image: linear-gradient(red, white, darkred);
    border-color: cyan;
    font-size: 20px;
    font-family: Paratha;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 35%;
    top: 110px;
}

#Br{
    background-color: greenyellow;
    border-color: black;
    font-size: 13px;
    font-family: Paratha;
    border-radius: 30px;
    position: relative;
    left: 27%;
    top: 70px;
}

#Sql, #Bs{
    display: none;
}

#Sql{
    background-image: linear-gradient(darkblue, orange, blue);
    border-color: cyan;
    font-size: 20px;
    font-family: Paratha;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 35%;
    bottom: 10px;
}

#Bs{
    background-color: greenyellow;
    border-color: black;
    font-size: 13px;
    font-family: Paratha;
    border-radius: 30px;
    position: relative;
    left: 27%;
    bottom: 50px;
}

/*Fim da categoria 4*/

/*Categoria 5: Rodapé*/

footer {
    border: 10px;
    border-color: rgb(62, 178, 231);
    background-color: black;
    border-style: ridge;
    border-radius: 30px;
    color: #fff;
    padding: 37px;
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-top: 30%;
    }
    
    #Conteúdo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .Seção {
        margin: 10px;
    }
    
    .Seção {
        list-style: none;
        padding: 0;
    }
    
    .Seção ul li {
        display: inline;
        margin-right: 15px;
    }
    
    .Seção ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .Seção ul li a:hover {
        text-decoration: underline;
    }

/*Fim da categoria 5*/

/*Categoria 6: Fontes*/

@font-face {
    font-family: Paratha;
    src: url(../Font/Paratha/Paratha.ttf);
}

@font-face {
    font-family: High;
    src: url(../Font/High/High\ Speed.ttf);
}

/*Fim da categoria 6*/