/*Categoria 1: Ínicio e Cabeçalho*/

html{
    scroll-behavior: smooth;
}

.Logo {
    width: 600px;
    border: none;
    border-width: 0px;
    position:relative;
    bottom: 70px;
}

header{
    border: 10px;
    border-color: rgb(62, 178, 231);
    background-color: black;
    border-style: ridge;
    text-align: center;
    border-radius: 70px;
    width: 100%;
    height: 250px;
}


.Corpo-Index{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3{
    color: white;
    text-align: center;
}


button{
    position: relative;
    bottom: 10px;
    border-width: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    background-size: 200px;
    background-position: center;
}

button:hover{
    transform: scale(1.1);
}

.Cur, .Pu, .Log, .Mc{
    color: white;
    background-color: black;
    border-width: 3px;
    border-color: blue;
}

.Nome, .Cur, .Pu, .Log, .Mc{
    position: relative;
    bottom: 170px;
}

.Img-Index{
    position:relative;
    right: -30%;
    box-shadow: 3px 3px 3px 3px rgb(164, 253, 253);
    border-radius: 30px;
    position: relative;
    left: 33%;
}

/* Fim da categoria 1*/

/*Categoria 2: Estrutura geral*/

/*Fim da categoria 2*/

/*Categoria 3: Estrutura final*/

/*Fim da categoria 3*/



/*Categoria 4: Outros*/

/*Fim da categoria 4*/
