/*Categoria 1: Ínicio e Cabeçalho*/

html{
    scroll-behavior: smooth;
}

#Logo {
    width: 800px;
    border: none;
    border-width: 0px;
    position:relative;
    bottom: 140px;
}

header{
    border: 10px;
    border-color: rgb(62, 178, 231);
    background-color: black;
    border-style: ridge;
    text-align: center;
    border-radius: 70px;
    width: 100%;
    height: 200px;
}


.Corpo-Index{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3{
    color: white;
    text-align: center;
}

h2{
    font-size: 50px;
}

#Bem-Vindo, #Sobre{
    font-family:cursive;
}


button{
    position: relative;
    bottom: 10px;
    border-width: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    background-size: 200px;
    background-position: center;
}

button:hover{
    transform: scale(1.1);
}

#Botão-Usuário{
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family: cursive;
    font-size: 20px;
    background-image: linear-gradient(cyan, black);
}

#Img-Usuário{
    color: white;
    width: 100px;
    height: 50px;
    position: relative;
    left: -8px;
}

#Nome{
    position: relative;
    bottom: 330px;
    font-family:cursive;
}

.Img-Slide{
    position:relative;
    right: 0%;
    box-shadow: 3px 3px 3px 3px rgb(164, 253, 253);
    border-radius: 30px;
    position: relative;
    left: 0%;
    width: 600px;
    height: 400px;
}

[data-component="slideshow"] .slide {
    display: none;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s; /* adiciona transição suave em opacidade e transformação */
  }
  
  [data-component="slideshow"] .slide.active {
    display: block;
    opacity: 1;
    transform: scale(1); /* define escala para 1 quando o slide é ativado */
  }

.Img-Sobre{
    position:relative;
    right: -30%;
    box-shadow: 3px 3px 3px 3px rgb(164, 253, 253);
    border-radius: 30px;
    position: relative;
    left: 3%;
    width: 250px;
    height: 300px;

}

#Text1{
    position: relative;
    bottom: 200px;
    position: relative;
}

.Img-Interior{
    position:relative;
    box-shadow: 3px 3px 3px 3px rgb(164, 253, 253);
    border-radius: 30px;
    position: relative;
    bottom: 150px;
    left: 77%;
    width: 250px;
    height: 300px;
}

#Text2{
    position: relative;
    bottom: 350px;
}

.Img-Empresa{
    position:relative;
    box-shadow: 3px 3px 3px 3px rgb(164, 253, 253);
    border-radius: 30px;
    position: relative;
    bottom: 250px;
    left: 650px;
    width: 600px;
    height: 400px;
}

#Text3{
    position: relative;
    bottom: 200px;
}

#Text0, #Text1, #Text2, #Text3{
    font-family:cursive;
    font-size: 30px;
}

#Pop-Up1{
    position: relative;
    top: 100px;
    border-style:ridge;
    border-radius: 20px;
    background-image: linear-gradient(cyan, blue);
    width: 200px;
    height: 100px;
    font-family: cursive;
    color: white;
    border-color: white;
    font-size: 25px;
}

/* Fim da categoria 1*/

/*Categoria 2: Estrutura geral*/

/*Fim da categoria 2*/

/*Categoria 3: Estrutura final*

/*Fim da categoria 3*/



/*Categoria 4: Outros*/

/*Fim da categoria 4*/
